/* DEVICES TO BASE THEME ON
  -- iPhone
  -- iPad
  -- Galaxy Tab
*/

/*Main Elements*/

html{
	font-size: 16pt;
}

body{
	margin: 0;
	padding: 0;
	max-width: 100%;
	background-color: #FFFFFF;
	font-size: .75em; /*12/16*/
}

header{
	border-top: 4px solid #FFB652;
	background-color: #F57920;
	margin-top: 0;
	width: 100%;
}

img{
	max-width: 100%;
}

/*Classes*/

.container{
	margin: .416667% /*7/1680*/ auto 0 auto;
	max-width: 1000px /*59.52381%*/ /*1000/1680*/;
}
	
.mainContent{
	clear: both;
}

.NicLib-Head{
	margin: .7% auto; /*7/1000*/
	text-align: right;
	font-size: 1.333333em;
	font-weight: bold;
	clear: both;
}

.NicLib-Head img{
	max-width: 30%; /*300px/1000*/
	float: left;
}

.univHead{
	font-size: .6875em; /*11/16*/
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
}

.univHead a{
	color: #FFFFFF;
	text-decoration: none;
	transition: all .5s
}

.univHead a:hover{
	color: #000000;
}

.univHead img{
	max-width: 18.1%; /* 181/1000 */
}

.univHead nav ul li{
	margin: auto .5% /*5/1000*/;
	display: inline;
}


/*IDs*/


/*Media Queries*/

/* iPhone Media Query */
@media screen and (max-width: 414px){
	/* Main Elements */
	
	/* Classes */
	
	.container{
		width: 100%;
		padding: 0 2px;
	}
	
	.NicLib-Head img{
	min-width: 60.386473%; /*250/414*/
	margin: 0 auto;
	}
}

/* iPad Media Query */
@media screen and (max-width: 768px){
	
}

/* iPad Landscape? */
@media screen and (max-width: 1024px){
	
}