/* DEVICES TO BASE THEME ON
  -- iPhone max-width: 414px
  -- iPad max-width: 768px
  -- iPad (landscape) max-width: 1024px
*/

/*Default look*/
html{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-size: 16pt;
	font-family: Garamond, sans-serif;
	color: #000000;
}

body{
	margin: 0;
	padding: 0;
	max-width: 100%;
	background-color: #FFFFFF;
}

header{
	border-top: .25em /* 4/16 */ solid #FFB652;
	background-color: #F57920;
	margin-top: 0;
	width: 100%;
	height: 100%;
}

img{
	max-width: 100%;
}

/*Classes*/

.container{
	margin: auto;
	max-width: 62.5em; /* 1000/16 */
}

.mainContent{
	clear: both;
}

.NicLib-Head{ 
	margin: .25em auto;
	text-align: right;
	font-weight: bold;
	font-size: 1.333333em;
}

.NicLib-Head img{
	max-width: 30%; /*300px/1000*/
	float: left;
}

.univHead{
	font-size: .625em; /*10/16*/
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
}

.univHead a{
	color: #FFFFFF;
	text-decoration: none;
	transition: all .5s
}

.univHead a:hover{
	color: #000000;
}

.univHead img{
	max-width: 18.1%; /* 181/1000 */
}

.univHead nav ul li{
	margin: auto .5% /*5/1000*/;
	display: inline;
}

.univHead a{
	color: #FFFFFF;
	text-decoration: none;
	transition: all .5s
}

.univHead a:hover{
	color: #000000;
}

.univHead img{
	max-width: 18.1%; /* 181/1000 */
}

.univHead nav ul li{
	margin: auto .5% /*5/1000*/;
	display: inline;
}