html{
 	margin: 0;
 	padding: 0;
 	background-color: #F5F5F5;
 	font-size: 14pt;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	color: #000000;
}
 
body{
 	margin: 0;
 	padding: 0;
	background-color: #F5F5F5;
 	max-width: 100%;
}

a {
	color: #000000;
	-webkit-transition: all .5s;
	transition: all .5s;
}

a:hover{
	color: #B44723;
}

article table td {
	padding: .357142857142571em;
}

header{
	border-top: .2857142857142857em /* 4/14 */ solid #595959;
	background-color: #B44723;
	margin-top: 0;
 	width: 100%;
}

iframe{
	margin-top: 10px;
	height: 19.64285714285714em; /* 275/14 */
	width: 1px;
	min-width: 100%;
	*width: 100%;
}
 
img{
 	max-width: 100%;
}

/* Classes */

.aboutMenu{
	text-align: center;
	width: 100%;
	display: none;
	vertical-align:middle;
}

.aboutMenu ul li a{
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-transition: .5s all;
	transition: .5s all;
}

.aboutMenu ul li a:hover{
	color: #000000;
	text-decoration: none;
}

 .brand-nav{
	margin-top:.5em;
	white-space: nowrap;
}

.circleButtons{
	background-image: url('../images/circle_background.png');
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
	height: 14.5em;
}

.collectionsMenu{
	text-align: center;
	width: 100%;
	display: none;
	vertical-align:middle;
}

.collectionsMenu ul li a{
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-transition: .5s all;
	transition: .5s all;
}

.collectionsMenu ul li a:hover{
	color: #000000;
	text-decoration: none;
}

.footer{
	margin: 0;
	padding: 0;
	padding-top: 1.071428571428571em; 
	background-color: #F4F5F5;
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer a{
	color: #000000;
	text-decoration: none;
	-webkit-transition: .5s all;
	transition: .5s all;
}

.footer a:hover{
	color: #B44723;
	text-decoration: none;
}

.footer a:active{
	color: #000000;
}

.footer a:focus{
	color: #B44723;
}

.footer a:visted{
	color: #000000;
}

.footer ul{
	list-style: none;
	padding: 0;
}

.footer ul li{
	list-style: none;
}

.footer1{
	text-align: left;
	width: 25%
}

.footer2{
	width: 25%;
}

.footer3{
	width: 25%;
}

.footer4{
	text-align: right;
	width: 25%;
}

.helpMenu{
	text-align: center;
	width: 100%;
	display: none;
	vertical-align:middle;
}

.helpMenu ul li a{
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-transition: .5s all;
	transition: .5s all;
}

.helpMenu ul li a:hover{
	color: #000000;
	text-decoration: none;
}

.hiddenMenu{
	background-color: #B44723;
	margin: auto;
	margin-top: 1.428571428571429em; /* 20/14 */
	padding-top: .5em;
	height: 100%;
	display: none;
	z-index: 2;
}

.hiddenMenu ul li{
	list-style: none;
	margin: 1em;
	text-align: center;
	display: inline;
	white-space: nowrap;
}

.image-block{
	background-color: #000000;
	border-left: .3571428571428571em /* 5/14*/  solid #FFFFFF;
	height: 14.5em;
	text-align: center;
}

.image-block img{
	max-width: 100%;
}

.layout-content{
	margin-top: -35.71428571428571em; /* 500/14 */
	z-index: 1;
}

.libBackground{
	background-color: #DEDEDE;
	height: 39.28571428571429em; /* 550/14 */
	z-index: -1;
}

.libButtons{
	padding: 0;
	font-size: 1.85em;
	text-align: left;
	box-sizing: border-box;
	color: #FFFFFF;
}

.libButtons a{
	color: white;
}

.libButtons a:hover{
	color: white;
}

.libButtons a:visited{
	color: white;
}

.libButtons .button{
	height:5.571428571428571em;
	width:97.5%;
	margin-right:2px;
	float:right;
}

.libButtons h2{
	margin-top: .3076923076923077em;
	padding-left: .25em;
	text-shadow: 2px 2px #000000;
	position: absolute;
}

.libButtons .button1{
	/*background-color:#CC9063;*/
	background-image: url('../assets/Books.jpg');
	background-size: 100%;
	margin-bottom:2px;
}

.libButtons .button2{
	/*background-color:#64BE9F;*/
	background-image: url('../assets/helios-morning-fog.jpg');
	background-size: 100%;
	margin-top:2px;
}

.libButtons table{
	border: none;
	margin: 0;
	width: 99.75%;
}

.libButtons tr td{
	border-left: .2em /* 5/14 */ solid #FFFFFF;
	height: 5.357142857142857em; /* 75/14 */
	vertical-align: middle;
	border-top: .5em solid #FFFFFF;
}

.libButtons tr:first-child{
	background-color: #F2D653;
	color: #000000;
	margin-bottom: .5em;
}

.libButtons tr:nth-child(2){
	background-color: #BD4F19;
	color: #FFFFFF;
}

.libSearch{
	height: 293px;
	border: 1px solid #000000;
	background-image: url('../assets/niclib_doors.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat:none;
	width: 74.47%;
	clear:both;
	padding: 0;
}

.mainContent{
	height: 100%;
}

.mainContent article{
	width: 93%;
	margin: .7142857142857143em /* 10/14 */ auto;
}

.mainContent .faqfield{
	background-color: #000000;
}

.mainContent h1{
	text-align: center;
	font-weight: bold;
}

.mainContent2{
	width: 95%;
	margin:auto;
}

.mainContent2 ol li h3 a{
	text-decoration: underline;
}

.mobile-menu{
	display: none;
}

.mobile-menu button{
	margin-bottom: .5714285714285714em;
	background-color: #000000;
	width: 40px;
}

.NicLib-Head{ 
 	margin: .2857142857142857em auto; /* 4 / 14 */
 	font-weight: bold;
 	font-size: 2em;
	color: #000000;
	clear: both;
}
 
.NicLib-Head img{
 	max-width: 32.93650793650794%; /*((80*4) + (4*3)) / 1008 */
 	float: left;
}
 
.NicLib-Head ul{
	margin-top: 1em;
	/* Padding when FYE QR Code is inactive */
	padding-left: 15.97005614472863%; /* 256/1603 */
	background-color: #595959;
	display: inline;
	width: 100%;
	box-shadow: 0 5px 5px #888888;
}
 
.NicLib-Head ul a{
	 color: #FFFFFF;
	 text-decoration: none;
	 -webkit-transition: all .5s;
	 transition: all .5s;
}
 
.NicLib-Head ul a:hover{
	color: #B44723;
	background: none;
}

.NicLib-Head ul a:focus{
	background: none;
}
 
.NicLib-Head ul li{
	 margin: auto 1em;
	 display: inline;
}

.secondaryContent{
	width: 97.5%;
	margin-left: 1.071428571428571em;
}

.secondButtons{
	margin-top: .3571428571428571em; /* 5/14 */
	padding: 0;
	font-size: 1.142857142857143em; /* 16/14 */
	color: /*#FFFFFF*/ #000000;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

.secondButtons a{
	/*color: #FFFFFF;*/
	color: #000000;
	text-decoration: none;
}

.secondButtons a: hover{
	text-decoration: none;
}

.secondButtons i{
	font-weight: bold;
}

.secondButtons p{
	display: inline-block;
	vertical-align: middle;
	border-radius: 71.42857142857143em;
	border: .3571428571428571em /* 5/14 */ solid #595959;
	margin: 2.142857142857143em; /* 30/14 */
	width: 20%;
	-webkit-transition: all .25s;
	transition: all .25s;
	background-color: #FFFFFF;
	cursor: pointer;
}

.secondButtons p:hover{
	border-color: #B44723;
}

.secondButtons p strong{
	color: #B44723;
}

.secondButtons p:first-child{
	/*background-color: #9B6E51;*/
	cursor: pointer;
}

.secondButtons p:nth-child(2) img{
	/*background-color: #90986B;*/
	/*padding-top: 2.1875em; /* 35/16 */
	margin-top: -.2857142857142857em;
}

/*.secondButtons p:nth-child(3){
	background-color: #89A8E0;
}*/

.servicesMenu{
	text-align: center;
	width: 100%;
	display: none;
	vertical-align: middle;
}

.servicesMenu ul li a{
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-transition: .25s all;
	transition: .25s all;
}

.servicesMenu ul li a:hover{
	color: #000000;
	text-decoration: none;
}

.shadow{
	width: 100%;
	height: 1.923076923076923em;
	background-color: rgba(0,0,0,.25);	
}

.site-content{
	margin-top: 1.785714285714286em;
	padding: .3571428571428571em;
	background-color: #FFFFFF;
	box-shadow: 0 10px 15px #888888;
}

.small-NicLib-Head{
	display: none;
}

.univHead{
 	font-weight: bold;
 	color: #FFFFFF;
	margin-bottom: .375em;
}
 
.univHead a{
 	color: #FFFFFF;
 	text-decoration: none;
 	-webkit-transition: all .5s;
 	transition: all .5s;
}
 
.univHead a:hover{
  	color: #000000;
}

.univHead img{
	margin-top: 0;
	float: left;
}
  
.univHead nav{
	margin-top: .5em;
	width: 44.6662507797879%; /* 716/1603 */
	float: right;
}

.univHead ul {
	text-align: right;
	list-style: none;
	display: inline;
}
  
.univHead nav ul li{
  	margin: auto 1.111111111111111%; /*5/450*/
	list-style: none;
  	display: inline;
	white-space: nowrap;
 }
 
/* IDs */

#hours{
	font-size: 1em;
	float: left;
}

#hours a{
	color: #BD4F19;
}

#mobile-nav{
	background-color: #B44723;
	color: #FFFFFF;
	display: none;
}

#mobile-nav a{
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: all .5s;
	transition: all .5s
}

#mobile-nav a:hover{
	color: #000000;
}

#mobile-nav ul{
	margin: auto;
	text-align: center;
	list-style: none;
}

#mobile-nav ul li{
	margin: auto 15px;
	text-align: center;
	list-style: none;
	display: inline;
	white-space: nowrap;
}

/* Media Queries */

@media screen and (max-width: 1454px){
	.univHead nav{
		width: 49.24346629986245%; /* 716/1454 */
	}
}

@media screen and (max-width: 1325px){
	.univHead nav{
		width: 54.0377358490566%; /* 716/1325 */
	}
}

@media screen and (max-width: 1214px){
	.univHead nav{
		width: 58.97858319604613%; /* 716/1214 */
	}
}

@media screen and (min-width: 1200px){
	.circleButtons{
		width: 70%;
		margin: 1.25em;
	}
	
	.image-block{
		margin:1.25em .3571428571428571em;
	}
	
	.libButtons .button{
		margin: .55em auto;
	}
	
	.libSearch{
		height: 317px;
		width: 69.5%;
		margin: 1em 1.5em;
	}
}

@media screen and (max-width: 1199px){
	/* Styling based on nothing in footer2 */
	.footer2{
		display: none;
	}
	
	.footer3{
		width: 50%;
	}
	.image-block{
		border-left: none;
	}
	
	.libSearch{
		width: 97.5%;
		margin: .3em;
	}
	
	.libButtons{
		margin-top: .5em;
	}
	
	.libButtons .button{
		width: 47.75%;
		margin-left: .3em;
		float:none;
		display: inline-block;
	}
	
	.libButtons .button1{
		margin-bottom:0;
	}
	
	.libButtons .button2{
		margin-top: 0;
	}
	
	.secondButtons{
		margin-top:.3em;
		margin: .3em .5em;
		width: 98.25%;
	}
	
	.NicLib-Head ul{
		/* Padding when FYE QR Code is inactive */
		padding-left: 8.34028356964137%; /* 100/1199 */
	}
	
	.secondaryContent{
		width: 97.2%;
	}
	
	.secondButtons{
		display: block;
	}	
	
	.views_slideshow_cycle_teaser_section{
		left: 34%;
	}
	
	.univHead nav{
		width: 63.98570151921358%; /* 716/1119 */
	}
}


@media screen and (max-width: 1037px){
	.mobile-menu{
		display: initial;
		position: static;
		float: right;
	}
	
	.univHead nav{
		width: 3.8572806171649%; /* 40/1037 */
	}
	
	.univHead ul{
		display: none;
	}
}

@media screen and (max-width: 991px){
	.image-block{
		width: 98.6%;
	}
	
	.libButtons{
		margin-top: .28557142857142857em; /* 4/14 */
		margin-left: -.5%;
	}
	.libButtons div{
		width: 98.6%;
		float: none;
	}
	
	.libButtons .shadow{
		width: 100%;
	}
	
	.libButtons .button{
		width:97%;
		height: 7.5em;
	}
	
	.libButtons .button1{
		margin-bottom: .28557142857142857em;
		background-position: 0% 20%;
	}
	
	.libButtons .button2{
		background-position: 0% 75%;
	}
	
	.libButtons table{
		width: 98.61111111111111%; /* 710/720 */
	}
	
	.libButtons tr td{
		border-left: none;
	}
	
	.libSearch{
		width: 97%; /* 710/720 */
	}
	
	.NicLib-Head ul{
		padding: 3px;
	}
	
	.NicLib-Head ul li {
		margin: auto 20px;
	}
	
	.secondButtons{
		width: 97.5%;
		margin-left: .5%;
	}
	

	.univHead nave{
		width: 15%;
		margin-right: 1em;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 29%;
	}
}

@media screen and (max-width: 767px){
	/* Styling based on nothing in footer 2 */
	.footer1{
		width: 100%;
		text-align:center;
		margin-bottom: 1em;
	}
	
	.footer3{
		width: 100%;
		text-align: center;
	}
	
	.footer4{
		width: 100%;
		text-align:center;
	}
	
	#hours{
		float: none;
	}
	.libButtons{
		margin-left: .3%;
	}
	
	.libButtons div{
		width: 100%;
	}
	
	.libButtons .button{
		width: 98.75%;
		margin-left: .3%;
	}
	
	.libSearch{
		width: 98.75%;
	}
	
	.mobile-menu{
		margin-left: 2.142857142857143em; /* 30/14 */
		float:none;
	}
	
	.NicLib-Head{
		display:none;
	}
	
	.small-NicLib-Head{
		font-size: 1.714285714285714em;
		display: initial;
	}
	.small-univHead{
		display: none;
	}
	
	.univHead span{
		display: none;
	}
}

@media screen and (max-width: 717px){
	.circleButtons{
		background-size: cover;
		background-position: 50% 0%;
		height: 100%;
	}
	
	.secondButtons p{
		padding: 2.142857142857143em;
		width: 40%;
		margin: 1.428571428571429em;
	}
	
	.secondButtons p:nth-child(2){
		padding-top: 1.428571428571429em;
	}
}

@media screen and (max-width: 685px){
	.secondButtons{
		width: 98%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 27%;
	}
}

@media screen and (max-width: 608px){
	.secondButtons{
		width: 97.6%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 24%;
	}
}

@media screen and (max-width: 566px){
	.secondButtons{
		width: 97%
	}
}

@media screen and (max-width: 556px){
	.libButtons{
		margin-left: .4%;
	}
}

@media screen and (max-width: 534px){
	.secondButtons p{
		width: 60%;
	}
}

@media screen and (max-width: 522px){
	.mobile-menu{
		margin-left: 1em;
	}
	
	.secondButtons{
		width: 96.6%;
	}
	
	.univHead img{
		width: 50%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 21%;
	}
}

@media screen and (max-width: 488px){
	.secondButtons{
		width: 96%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 16%;
	}
}

@media screen and (max-width: 472px){
	.brand-nav{
		padding: 0;
		float: left;
	}
	
	.mobile-menu{
		margin-top: -1.928571428571429em;
		margin-right: -1.7142857142857143em;
		padding-right: 0;
		float:right;
	}
}

@media screen and (max-width: 444px){
	.secondButtons{
		width: 95.6%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 15%;
	}
}

@media screen and (max-width: 436px){
	.libSearch{
		width: 98%;
	}
}

@media screen and (max-width: 431px){
	.libButtons{
		margin-left: .5%;
	}
}

@media screen and (max-width: 420px){
	.views_slideshow_cycle_teaser_section{
		left: 12%;
	}
}

@media screen and (max-width: 416px){
	.secondButtons{
		width: 95%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 10%;
	}
}

@media screen and (max-width: 385px){
	.footer1{
		text-align: center;
		display: block;
		width: 100%;
	}

	.footer4{
		text-align: center;
		display: block;
	}
	
	.secondButtons{
		width: 94.6%;
	}
	
	.secondButtons p{
		width: 75%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 8%;
	}
}

@media screen and (max-width: 370px){
	.libButtons .button{
		height: 6em;
	}
	
	.secondButtons{
		width: 94%;
	}
	
	.secondButtons p{
		margin: 1em; 
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 5%;
	}
}

@media screen and (max-width: 357px){
	.views_slideshow_cycle_teaser_section{
		left: 3.5%;
	}
}

@media screen and (max-width: 356px){
	.libButtons{
		margin-left: .6%;
	}
}

@media screen and (max-width: 347px){
	.secondButtons{
		width: 93.6%;
	}
	
	.views_slideshow_cycle_teaser_section{
		left: 1.75%;
	}
}

@media screen and (max-width: 324px){
	.mobile-menu{
		margin-right: -1em;
	}
	
	.secondButtons{
		width: 93%;
	}
	.views_slideshow_cycle_teaser_section{
		left: 0;
	}
}

@media screen and (max-width: 310px){	
	.libSearch{
		height: 315px;
	}
	
	.secondButtons{
		width: 92%;
	}
	
	.secondButtons p{
		margin: .7142857142857143em;
	}
}