  <header>
    <div class="container">
		<div class="univHead">
			<div class="logo">
				<img src="/themes/Custom/niclib/images/anderson.png" alt="Anderson University">
			</div>
			<nav>
				{{ page.univlinks}}
			</nav>
		</div>
	</div>
  </header>

<div class="container">


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
		<div class="NicLib-Head">
			{{ page.header }}
		</div>
		<div class="mainContent">
			<div class="libSearch">
				<iframe src="/search.html" height="100%" width="100%" scrolling="no" frameborder="0"></iframe>
			</div>
			{{ page.content }}
		</div>
    </div>{# /.layout-content #}
	
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
