  <header>
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://www.anderson.edu" target="_blank">
					<img src="/themes/Custom/niclib/images/anderson.png" alt="Anderson University">
				</a>
			</div>
			<nav>
				{{ page.univHead}}
			</nav>
		</div>
  </header>


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
		<div class="NicLib-Head">
			{{ page.libHead }}
		</div>
		<div class="mainContent">
			<div class="libSearch">
					<iframe src="/search.html" scrolling="no" frameborder="0"></iframe>
			</div>
			{{ page.content }}
		</div>
    </div>{# /.layout-content #}
	
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

{# /.layout-container #}
