  <header class="univHead col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
			<div class="navbar-header navbar-left col-lg-3 col-md-3 col-sm-11 col-xs-11">
				<a class="navbar-brand" href="http://www.anderson.edu" target="_blank">
					<img src="/themes/Custom/niclib/images/anderson.png" alt="Anderson University">
				</a>
			</div>
			<nav class="navbar-right col-lg-9 col-md-9 col-sm-1 col-xs-1">
				<div class="mobile-menu col-sm-1 col-xs-1">
					<button class="glyphicon glyphicon-menu-hamburger"></button>
				</div>
				{{ page.univHead}}
			</nav>
		</div>
  </header>


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
		<div class="row">
			<div class="NicLib-Head">
				<div class="container">
					{{ page.libHead }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="mainContent">
				<div class="container">
					<div class="libSearch col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<iframe class="embed-responsive-item" src="/search.html" scrolling="no" frameborder="0"></iframe>
					</div>
					<table class="libButtons col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<tr>
							<td class="database-link-1">Find a<br/><span class="link-name">DATABASE</span></td>
						</tr>
						<tr>
							<td class="database-link-2">Look for a<br/><span class="link-name">RESEARCH GUIDE</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="secondaryContent">
				<!-- Additional Buttons -->
				<div class="container">
					<table class="secondButtons">
						<tr>
							<td class="col-lg-3 col-md-3 col-sm-6 col-xs-12 button1">Ask a <br/><span class="link-name">LIBRARIAN</span><br/><i class="glyphicon glyphicon-question-sign"></i></td>
							<td class="col-lg-3 col-md-3 col-sm-6 col-xs-12 button2">Look through our<br/><span class="link-name">UNIQUE COLLECTIONS</span><br/><i class="glyphicon glyphicon-book"></i></td>
							<td class="col-lg-3 col-md-3 col-sm-6 col-xs-12 button3">Help for<br/><span class="link-name">FACULTY</span><br/><i class="glyphicon glyphicon-education"></i></td>
							<td class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><!-- Image Slider-->{{ page.image_slider }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
    </div>{# /.layout-content #}
	
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

{# /.layout-container #}
